.DataHeatMap2D {
    display: flex;
    /* width: 375px;
    height: 350px; */
}

.DataHeatMap2D .LabelScale {

}

.DataHeatMap2D .map-axis-container {
    position: relative;
    width: 320px;
    height: 325px;
    margin-right: 30px;
    padding-left: 20px;
}

.DataHeatMap2D .x-axis-container {
    display: flex;
    justify-content: space-between;
}

.DataHeatMap2D .y-axis-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}