.LossViewer {}

.LossViewer .titles {
    margin-bottom: 10px;
}

.LossViewer .svg-container {
    margin-bottom: 10px;
}

.LossViewer .test-loss, .LossViewer .training-loss {
    display: flex;
    justify-content: space-between;
}